<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <string>icons.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.jvms.i18neditor.Main</string>
    <key>CFBundleDisplayName</key>
    <string>i18n-editor</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>i18n-editor</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.0-beta.2</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>JVMRuntime</key>
    <string></string>
    <key>JVMRuntimePath</key>
    <string></string>
    <key>JVMMainClassName</key>
    <string>com.jvms.i18neditor.Main</string>
    <key>JVMClassPaths</key>
    <array>
      <string>com/jvms/i18n-editor/2.0.0-beta.2/i18n-editor-2.0.0-beta.2.jar</string>
      <string>com/google/code/gson/gson/2.8.5/gson-2.8.5.jar</string>
      <string>org/apache/commons/commons-lang3/3.5/commons-lang3-3.5.jar</string>
      <string>com/google/guava/guava/21.0/guava-21.0.jar</string>
      <string>org/slf4j/slf4j-simple/1.7.22/slf4j-simple-1.7.22.jar</string>
      <string>org/slf4j/slf4j-api/1.7.22/slf4j-api-1.7.22.jar</string>
    </array>
    <key>JVMVersion</key>
    <string>1.6+</string>
    <key>JVMOptions</key>
    <array>
            <string>-Dapple.laf.useScreenMenuBar=true</string>
      <string>-Xdock:name=i18n-editor</string>
    </array>
    <key>JVMArguments</key>
    <array/>
    <key>LauncherWorkingDirectory</key>
    <string>$APP_ROOT</string>
  </dict>
</plist>
